body{
    background-image: url("../images/westbackground.jpg");
    font-family: BioRhyme , serif; 
    box-sizing: border-box;
}


.jumbotron{
    background-color: burlywood;
    opacity: .8;
    width: 80%;
    margin: 0 10%;
    font-family: BioRhyme , serif;  
    height: 20%; 
}

header{
    background: dodgerblue;
    color: black;
    text-align: center;
    border: 1 solid  #000;
} 
     
.container{
    padding: 1%;
    display:flex; 
    /* max-width: 1020px; */
    margin:5% auto 0 auto;
    background-color: burlywood;
    justify-content: center;  
    line-height: 2;
}

.container h4{
     text-align: center;
}

.game-box{
    flex: 1;
    background: azure;
    flex-basis:  33;
    font-size: 18px;    
    padding: 3px 2px 0 2px; 
    overflow: auto;  
}

#myImage{
    display: block;
    margin: 0 auto;
    /* align-content: center; */
    /* align-self: center; */
}

#box3 h4{
    display: inline;
}
#guessremain,
.lettersguessed{
    background: black;
    color: white;
    font-size: 36px;
    margin: 0 30px 0 0;
    align-content: center;
    text-align: center;
    padding: 1px 10px;

}

.containerletters{
    background: black;
    /* display: flex; */
    overflow: hidden;
    align-self: center;
    margin: 0 30px 0 0;
  
}
.lettercircle {
    /* float: 1;     */
    border-radius: 50%;
    /* behavior: url(PIE.htc); */
    width: 36px;
    height: 34px;
    padding: 0 3px 5px 0;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    /* font: 24px ; */
  }
  .row{
     align-content: center;
     }

    #z3{
        text-align: center;
    }
    .panel-body{
        font-size: large;
    }
    #mysteryWord,
    .weight900{
        font-weight: 900;
    }
    .fontsze20{
        font-size: 20px;
    }